/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        // CAPA DE TEST: TODAS las teclas imprimen "a" para comprobar que
        // cada switch hotswap está bien soldado.
        default_layer {
            display-name = "default";
            bindings = <
&kp A &kp A &kp A &kp A &kp A &kp A                        &kp A &kp A &kp A &kp A &kp A &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                        &kp A &kp A &kp A &kp A &kp A &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                        &kp A &kp A &kp A &kp A &kp A &kp A
&kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A           &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
             &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
            >;

            sensor-bindings = <&inc_dec_kp A A &inc_dec_kp A A>;
        };
    };
};
